/* Reset básico */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

body.dark-mode .product-card {
  background-color: #333;
  border-color: #555;
}

body.dark-mode .filter-bar input,
body.dark-mode .filter-bar select {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}
