/* contenedor principal */
.main-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 1200px; 
}


.content-container {
    display: flex;
    gap: 20px; 
    margin-top: 20px;
}

/* contenido principal */
.content {
    flex: 1; 
}


/* Estilos generales para diseño responsive */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 0 10px;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        margin: 5px 0;
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .sidebar {
        display: none; /*  para el responsive la quitamos la barra de categorias */
    }
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-bar select {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr; /* con esta parte mostramos los productos en una columna */
    }
    .navbar a {
        font-size: 12px;
    }
}
