/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 10; /* Asegura que la barra de navegación quede fija en la parte superior */
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 30px;
}

.navbar-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-search input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    max-width: 100%;
}

.search-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.navbar-cart {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cart-icon {
    width: 32px;
    height: 32px;
}

.cart-tooltip {
    display: none;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
}

.navbar-cart:hover .cart-tooltip {
    display: block;
}


/* Estilos generales para diseño responsivo */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 0 10px;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        margin: 5px 0;
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .sidebar {
        display: none; /* Ocultar barra lateral en pantallas pequeñas */
    }
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-bar select {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr; /* Mostrar productos en una columna */
    }
    .navbar a {
        font-size: 12px;
    }
}
