
.sidebar {
    width: 220px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
}

.sidebar h2 {
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none; 
    padding: 0;
}


.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    font-weight: normal; /* estilo normal para los demas */
    transition: font-weight 0.3s ease; 
}


.sidebar li.active {
    font-weight: bold; /* bold para el elemento que esta activo */
}



